{% extends "base.jinja" %}
{% block title %}Reports{% endblock %}
{% block content %}
  <div class="mb-5"><h1>Reports</h1></div>
    <p>
      Enjoy the power of the Wild Apricot API.
    </p>

  <div class="mb-5"></div>

  <div class="card">  
  <div class="card-body">
    <h5 class="card-title">Missing instructor checkins</h5>
    <form action="{{ url_for('reports.report_missing_instructor_checkins') }}">
    <p class="card-text">Shows a list of instructor-led classes within the past <input value="31" name="delta_days" /> days
    where the instructor is not checked in. NOTE: This is a slow report. Be prepared
    to wait a minute or two after clicking the button.</p>
    <button type="submit" class="btn btn-primary">Get report</button>
    </form>
  </div>
  </div>
  <div class="card">  
  <div class="card-body">
    <h5 class="card-title">Slack freeloaders</h5>
    <form action="{{ url_for('reports.report_slackfreeloaders') }}">
    <p class="card-text">Shows folks with e-mails that appear in Slack, but are not active or pending members, or alumni.
    To use this, you must have a CSV file exported from Slack. Required columns are Slack username, email, fullname.</p>
    <input type="file" name="slack_file">
    <button type="submit" class="btn btn-primary">Get report</button>
    </form>
  </div>
  </div>
{% endblock %}
