{% extends "base.jinja" %}
{% block title %}Reports{% endblock %}
{% block content %}
    <div class="mb-5"><h1>Reports</h1></div>
    <p>
      Enjoy the power of the Wild Apricot API.
    </p>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
  {% endwith %}

    <div class="mb-5"></div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Makerschool registrations</h5>
            <form action="{{ url_for('reports.report_makerschool_registrations') }}">
                <p class="card-text">Shows the number of registrations for all current and future makerschool classes.</p>
                <button type="submit" class="btn btn-primary">Get report</button>
            </form>
        </div>
    </div>

  <div class="card">  
  <div class="card-body">
    <h5 class="card-title">Missing instructor checkins</h5>
    <form action="{{ url_for('reports.report_missing_instructor_checkins') }}">
    <p class="card-text">Shows a list of instructor-led classes within the past <input value="31" name="delta_days"
        aria-label="Number of past days to consider for instructor-led classes" /> days
    for which the instructor is not checked in. NOTE: This is a slow report. Be prepared
    to wait a minute or two after clicking the button.</p>
    <button type="submit" class="btn btn-primary">Get report</button>
    </form>
  </div>
  </div>
  <div class="card">  
  <div class="card-body">
    <h5 class="card-title">Slack orphans</h5>
    <form action="{{ url_for('reports.report_slack_orphans') }}" method="POST" enctype="multipart/form-data">
    <p class="card-text">Shows folks with e-mails that appear in Slack, but are not active or pending members, or alumni.
    To use this, you must have a CSV file exported from Slack. Required columns, with a header row, are  
    username, email, fullname, status.</p>
    <input type="file" name="file" accept=".csv">
    <button type="submit" class="btn btn-primary">Get report</button>
    </form>
  </div>
  </div>
{% endblock %}
