{% extends "base.jinja" %}
{% block title %}Welcome{% endblock %}
{% block content %}

  <div class="mb-5"></div>

  <div class="card col-lg-6 mx-auto">
  <div class="card-body">
    <h1 class="card-title">Welcome!</h1>
    <div class="mt-5"></div>

    {% if "user_token" not in session %}
    <p class="card-text">
    Please login with your Nova Lab portal credentials to use the system. You must have the reporting signoff to access reports.
    </p>
    <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Log in</a>
    </div>
    {% else %}
    <p>
    You are logged in. If you have the reporting signoff, you can access the reports.
    </p>
    <a href="{{ url_for('reports.index') }}" class="btn btn-primary">Go to the report catalog</a>
    <div class="mt-5">
    <p>Having trouble getting in? You are welcome to try <a href="{{ url_for('auth.login') }}">logging in again</a>.</p>
    </div>
    {% endif %}
  </div>

{% endblock %}
