<!doctype html>
<title>Event List</title>
{% if event_info %}
<table border="1">
{% for event in event_info %}
        <tr>
          <td>{{ event[0] }}</td>
          <td>{{ event[1] }}</td>
          <td>
            {{ event[3] }}  
            {% if event[4] %}
              <br>{{ event[4] }}
            {% endif %}
          </td>
          <td>{{ datetime.strptime(event[2], "%Y-%m-%dT%H:%M:%S%z").strftime("%Y-%m-%d %I%p") }}</td>
        </tr>
{% endfor %}
</table>
{% else %}
  <h1>No matching data found.</h1>
{% endif %}