{% extends "base.jinja" %}
{% block title %}Missing instructor checkins{% endblock %}
{% block content %}
<div class="mb-5"><h1>Missing instructor checkins for classes since {{ start_date }}</h1></div>
{% if event_info %}
<table class="table table-striped table-bordered">
<tbody>
{% for event in event_info %}
  <tr>
    <td>{{ event[0] }}</td>
    <td>{{ event[1] }}</td>
    <td>
      {{ event[3] }}  
      {% if event[4] %}
        <br>{{ event[4] }}
      {% endif %}
      {% if event[5] %}
        <br>{{ event[5] }}
      {% endif %}
    </td>
    <td>{{ event[2] }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% else %}
  <p>No matching data found.</p>
{% endif %}
{% endblock %}